<!DOCTYPE html>
<html>
  <head>
    <title>Vidoe Game Sales</title>
    <link rel="stylesheet" href="{{ url_for ('static',
      filename='lib/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{ url_for ('static',
        filename='lib/css/keen-dashboards.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
        <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
      </head>
      <!-- Nav Section -->
      <body class="application">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="./">Video Game Sales</a>
              <!-- menu select section -->
              <div class="col-sm-10">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Select a game:
                  </div>
                  <div class="chart-stage">
                    <div id="menu-select"></div>
                    <span>
                      <button class="intro_button button" type="button" autofocus  onclick="introJs().start();">Start Tour!</button>
                      <a href="javascript:dc.filterAll(); dc.renderAll();"><buttton class="button"> Reset All</buttton></a>
                    </span>
                    <!-- Closing menu section -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Closing Nav Section -->

        <!-- sales by year section -->
      <div  id="outer" class="container-fluid">
        <div class="row">
          <div class="col-sm-8" data-step="1" data-intro="Sales by Year shows the correlation of video games and year. Aside from a few outliers you can see that video games sales have continue to increase since 1980. This graph, along with the others, are interactive. You can select a particular year and see what video game rained supreme. You can also search by your favorite video game by using the drop down menu above. " style="font-weight: normal" data-position="right">
            <div class="chart-wrapper" id="resizeChart">
              <div class="chart-title">
                Sales by Year
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
                </div>
              </div>
            </div>
            <!-- Pie Chart Section -->
            <div class="col-sm-4" data-step="2" data-intro="The Platform pie chart show the top 5 most popular game consoles. Select one of the platforms and the data will change showing the success by year in sales, it's most popular genre and Publisher sales. The same goes for the Genre pie chart. You can also select more that one option on any chart to compare." style="font-weight: normal" data-position="left">
              <div class="chart-wrapper" >
                <div class="chart-title">
                  Platforms
                </div>
                <div class="chart-stage">
                  <div id="platform-chart"></div>
                </div>
              </div>
              <div class="chart-wrapper">
                <div class="chart-title">
                  Genre
                </div>
                <div class="chart-stage">
                  <div id="genre-chart"></div>
                </div>
              </div>
            </div>
            <!-- Closing Pie Chart Section -->
          </div>
          <!-- Closing sales by year section -->
        </div>
        <!-- Publisher Sales Section -->
          <div class="row">
            <div class="col-sm-8" data-step="3" data-intro="The Publisher Sales chart shows which brands have had the higest sales. Again, you can select your favorite Publisher to see how it did within the other cateogories. " style="font-weight: normal" data-position="right">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Publisher Sales
                </div>
                <div class="chart-stage">
                  <div id="publisher-chart"></div>
                </div>
              </div>
            </div>
            <!-- Closing Publisher Sales Section  -->
            <!-- Total globla sales in Numbers-->
            <div class="col-sm-4" data-step="3" data-intro="Global Sales shows the gross total of all video game sales to date. This combines all platforms. If you select a particular year, genre, platform or publisher it will change the Global Sales graph to the particular data you are looking for. " style="font-weight: normal" data-position="right">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Global Sales
                </div>
                <div class="chart-stage" style="background: #9BB03F;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
                  <div id="number-totalsales-nd"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Closing global sales in Numbers-->
        <!-- Top Sales Section -->
        <div class="col-sm-12" data-step="4" data-intro="Top Sales by Publisher is a graph put together to show the top three most popular Publishers. This allows the viewer to see how each Publisher preformed in a particular year. " style="font-weight: normal" data-position="right">
          <div class="chart-wrapper">
            <div class="chart-title">
              Top Sales by Publisher
            </div>
            <div class="chart-stage">
              <div id="topsales-chart"></div>
            </div>
          </div>
        </div>
        <!-- Closing Top Sales Section -->
        <hr>
        <div>
          <footer>
            <p class="small text-muted"> Data &#9829; BryceMLanders</p>
          </footer>
        </div>
        
        <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
        <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
      </body>
    </html>